<form action="" method="POST">
    <label for="name">введите имя</label>
	<input name="name">
    <label for="cost">введите стоимость</label>
	<input name="cost">
    <label for="rest">введите остаток</label>
	<input name="rest">
	<input type="submit">
</form>